/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: rgba(185, 185, 185, 0.315);
}


a {
    color: #459a2e;
    text-decoration: none;
}

a:hover {
    color: #3291e6;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #459a2e;
    border-top-color: #d1e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #459a2e;
    width: 40px;
    height: 40px;
    border-radius: 1px;
    border-color: #000;
    border-style: groove;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #000000;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.datepicker-dropdown {
    padding: 20px !important;
}

/*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
#topbar {
    background: #459a2e;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info a {
    line-height: 1;
    color: #ffffff;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: rgb(0, 0, 0);
}

#topbar .contact-info i {
    color: rgb(255, 255, 255);
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
}

#topbar .contact-info i:first-child {
    margin-left: 0;
}

#topbar .social-links a {
    color: #ffffff;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: rgb(0, 0, 0);
}

#lang_size {
    font-size: smaller;
    float: right;
    text-align: center;
    padding: 7px 4px;
    color: #fff;
}

#phone_no {
    color: #fff
}

#phone_no a:hover {
    color: #000
}

/* addition of button for language */
#topbar button {
    background-color: #459a2e;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.65em 1.2em;
    border: 0px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease all;
    z-index: 1;
    width: 5px;
    text-align: center;
    text-decoration-style: dashed;
}


#topbar button:before {
    transition: 0.25s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

#topbar button:hover,
#topbar button:focus {
    color: #000;
}

#topbar button:hover:before,
#topbar :focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}

#topbar .social-links a:first-child {
    border-left: 0;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    background: linear-gradient(to bottom, #459A2E, #32a213d3);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
    top: 0;
}

#header .logo {
    /* size: 20px 20px; */
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    z-index: 30;
    /* pointer-events: none; */
}

#header .logo a {
    color: #FFFFFF;
    z-index: 30;
}

#header .logo img {
    max-height: 40px;
    pointer-events: none;
    z-index: 33;
}

@media (min-width: 514px) {
    #header .container .info {
        position: absolute;
        padding-left: 70px;
        padding-top: 60px;
        font-variant: small-caps;
        font-weight: bolder;
        color: yellow;
        z-index: 0;
    }
}

@media (max-width: 513px) {
    #header .container .info {
        visibility: hidden;
    }
}

#header .img_logo_nav {
    size: 100%;
    z-index: 30;
}

/**
  * Appointment Button *
  */
.appointment-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #459a2e;
}

.appointment-btn:hover {
    background: #ffffff;
    color: #000000;
}

@media (max-width: 768px) {
    .appointment-btn {
        margin: 0 15px 0 0;
        padding: 6px 18px;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #FFFFFF;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: rgb(0, 0, 0);
    text-decoration: wavy;
    border-color: rgb(0, 0, 0);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #082744;
    border: none;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: rgb(0, 0, 0);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    /* left: -30px; */
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1920px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #2c4964;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(28, 47, 65, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #2c4964;
    border: none;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #459a2e;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #459a2e;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/* -------------------------------------------------------------
section
--------------------------------------------------------------- */
section {
    padding: 15px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f1f1f1;
  }
  
  .section-title {
    text-align: center;
    /* padding-bottom: 30px; */
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #459a2e;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  



/*--------------------------------------------------------------
  # Departments
  --------------------------------------------------------------*/
.departments {
    overflow: hidden;
  }
  
  .departments .nav-tabs {
    border: 0;
  }
  
  .departments .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #2c4964;
    border-radius: 0;
    border-right: 2px solid #ebf1f6;
    font-weight: 600;
    font-size: 15px;
    padding-left: 20px;
  }
  
  .departments .nav-link:hover {
    color: #459a2e;
  }
  
  .departments .nav-link.active {
    color: #ffffff;
    border-color: #000000;
    background-color: #459a2e;
  }
  
  .departments .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
  }
  
  .departments .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c4964;
  }
  
  .departments .details p {
    color: #464646;
  }
  
  .departments .details p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 992px) {
    .departments .nav-link {
      border: 0;
      padding: 15px;
    }
  
    .departments .nav-link.active {
      color: #fff;
      background: #459a2e;
    }
  }

/*--------------------------------------------------------------
  # boards
  --------------------------------------------------------------*/
.boards {
    background: #fff;
}

.boards .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    /* border-radius: 20%; */
}

.boards .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 8%;
}

.boards .member .pic img {
    transition: ease-in-out 0.3s;
}

.boards .member:hover img {
    transform: scale(1.05);
}

.boards .member .member-info {
    padding-left: 30px;
}

.boards .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
}

.boards .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.boards .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #00d400;
    bottom: 0;
    left: 0;
}

.boards .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.boards .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.boards .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #47a651;
}

.boards .member .social a i {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
}

.boards .member .social a:hover {
    background: #000000;
}

.boards .member .social a+a {
    margin-left: 8px;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 20px 0;
    background-color: #f1f7fd;
    min-height: 40px;
    margin-top: 120px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 100px;
    }
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}




/* ------------------------------------------------------
  #Vacancies
  ------------------------------------------------------ */
.job-listings {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
}

.job-listings h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

}

.job-listings ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.job-listings li {
    background-color: #ffffff9e;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.job-listings li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    /* background: #459a2ec4; */
    z-index: -1;
    /* transition: fill 4s ease-in-out; */
}

.job-listings li:hover {
    transform: translateY(-5px);
}

.job-listings li:hover::before {
    width: 100%;
}

.job-listings li h3 {
    font-size: 18px;
    margin-top: 0;
}

.job-listings li p {
    font-size: 16px;
    margin-bottom: 10px;
}

.job-listings li p strong {
    font-weight: bold;
}

.apply-button {
    display: inline-block;
    background-color: #459a2e;
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.apply-button:hover {
    background-color: #000000;
    color: #fff;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
    color: #000000;
    font-size: 14px;
    background: #9c9c9c;
    font-weight: bolder;
}

#footer .left_footer {
    color: #000000;
    font-size: 14px;
    /* text-align: justify; */
    text-justify: inter-word;
    /* padding: 0px 200px 0px 0px; */
}

#footer .left_footer a {
    color: #000000;
    font-size: 14px;
    transition: 0.3s;
    text-justify: inter-word;
}

#footer .left_footer a:hover {
    transition: 0.5s;
    color: gray;
    font-size: 14px;

    text-justify: inter-word;
}

#footer .newsletter_lai {
    color: #000000;
    font-size: 14px;
    font-weight: lighter;
    /* text-align: justify;
    text-justify: inter-word; */
    padding: 0px 200px 0px 0px;
    /* font-weight: lighter; */
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    /* background: #c9c9c9e0; */
    background: linear-gradient(#d8d7d7, #9c9c9c);
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #464646;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #000000;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #464646;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #459a2e;
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #459a2e;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #000000;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: rgb(85, 85, 85);
}

#footer .credits a {
    padding-top: 5px;
    font-size: 13px;
    color: rgb(10, 10, 10);
    text-decoration: dashed;
}

#footer .credits a :hover {
    padding-top: 5px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-decoration: dashed;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #9c9c9c;
    color: #000000;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 20%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    box-shadow: #000000, #082744;
}

#footer .social-links a:hover {
    background: #000000;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    font-size: larger;
}


/* Animated button  */
button {
    position: relative;
    float: right;
    padding: 7px 35px;
    background: #459a2e;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #000000b0;
    transition: all .3s ease-in-out;
    z-index: 10;
    height: 40px;
    width: 150px;
}

button:hover {
    padding: 7px 25px;
    border-radius: 8px 8px 8px 8px;
    z-index: 1000;
    width: 150px;
}

.icon-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: 0;
}

.icon-2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: 0;
}

.icon-3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: 0;
}

.icon-4 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: 0;
}

.icon-5 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: 0;
}


button:hover .icon-1 {
    top: -250%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: auto;
    animation: inIcon1 1s ease .45s forwards;
}

@keyframes inIcon1 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    25% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(5deg);
    }

    50% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(1deg);
    }

    65% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(3deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-2 {
    position: absolute;
    top: -200%;
    left: 90%;
    transform: translate(-50%, 0);
    width: 75px;
    height: auto;
    animation: inIcon2 1s ease .45s forwards;
    z-index: 55;
}

@keyframes inIcon2 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(10deg);
    }

    50% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(4deg);
    }

    80% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(5deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-3 {
    position: absolute;
    top: -130%;
    left: 20%;
    transform: translate(-50%, 0);
    width: 60px;
    height: auto;
    animation: inIcon3 1s ease .45s forwards;
}

@keyframes inIcon3 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(-2deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-4 {
    position: absolute;
    top: -300%;
    left: 10%;
    transform: translate(-50%, 0);
    width: 85px;
    height: auto;
    animation: inIcon4 1s ease .45s forwards;
}

@keyframes inIcon4 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    40% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(-3deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-5 {
    position: absolute;
    top: -350%;
    left: 90%;
    transform: translate(-50%, 0);
    width: 85px;
    height: auto;
    animation: inIcon5 1s ease .45s forwards;
}

@keyframes inIcon5 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(-3deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

.fil-leaf-1 {
    fill: #7B9B3A
}

.fil-leaf-2 {
    fill: #556729;
    fill-rule: nonzero
}

.fil-leaf-3 {
    fill: #556729
}

.fil-leaf-4 {
    fill: #3C4819
}

.fil-leaf-5 {
    fill: #3C4819
}


/* Career part ------------------------*/
/* CSS for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* transition:ease-in 0.3s ease; */
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* CSS for the button */
.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




/* About part-------------------------------- */
/* Custom styles */
.contained {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.nav-tabs {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .active {
    background-color: #1dbe25;
    border-bottom: 1px solid #dee2e6;
}

.nav-link {
    color: #343a40;
}

.nav-link.active {
    font-weight: bold;
}

#tabs li .active {
    font-variant: small-caps;
    text-decoration: underline;
}

.tab-content {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.h3 {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding: 70px 0 60px;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    font-weight: bolder;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
    /* border-color: #459a2e; */
    /* border-width: 1px; */
    /* border-style:solid; */
}

.counts .count-box:hover {
    background: #459a2e;
}

.counts .count-box:hover .icon {
    background: #fff;
}

.counts .count-box:hover .icon i {
    color: #459a2e;
}

.counts .count-box:hover .icon::before {
    background: rgba(255, 255, 255, 0.3);
}

.counts .count-box:hover h4 a,
.counts .count-box:hover p {
    color: #fff;
}

.counts .count-box:hover span {
    color: #fff;
}

.counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #459a2e;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    /* box-shadow: 0px 80px 15px rgba(17, 18, 19, 0.08); */
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #000000;
}


.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

/* pie chart-------------------------- */
@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}




/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}


/* Additional custom styles can be added here */
/* NIGHT code */
iframe {
    /* width: 500px; */
    /* width: 100%; */
    /* width: calc(340px+40vw); */
    padding: 0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.new_class {
    min-width: 180px;
    width: 100%;
}

#clock {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}
/* style.css */
/* style.css */

.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .custom-table thead th {
    padding: 12px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .custom-table tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .custom-table tbody tr:last-child td {
    border-bottom: none;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody tr:hover td {
    background-color: #459a2e65;
    transition: background-color 0.4s ease-in-out;
  }
  
  .custom-table .newsLink {
    color: blue;
    text-decoration: underline;
  }
  .custom-table button{
    font-family:sans-serif;
    font-size: 15px;
    color: white;
  }